html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(17, 29, 44);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(15, 27, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  color: white;
  letter-spacing: 0.3rem;
}
p {
  margin: 4.8rem 0 0.4rem 0;
  font-weight: bold;
  color: rgb(67, 98, 136);
  text-align: center;
}
.name {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 11rem;
  width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.01;
  letter-spacing: 0.8rem;
  white-space: nowrap;
}
#container {
  position: relative;
}
canvas {
  display: block;
  margin: 0 auto;
  border-radius: 0.4rem;
}
video {
  margin: 0 auto;
}

.footer {
  background-color: rgb(15, 27, 41);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}
